body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: #999999;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  font: inherit;
  padding: 0;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

address {
  font-style: inherit;
}

:root {
  --white-color: #ffffff;
  --btn-background-color: #4985ff;
  --title-color: #323232;
  --dark: #000000;
}

.main-link {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-align: center;
  color: var(--white-color);
  background-color: var(--btn-background-color);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 14px 36px;
  min-width: 90px;
  display: inline-block;
}

.main-link:hover,
.main-link:focus {
  background-color: #323232;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.section-title {
  text-align: center;
  color: var(--title-color);
}

/*header*/

.header {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.header-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--white-color);
  padding: 40px 20px;
}

.nav-list {
  display: flex;
  justify-content: end;
}

.header-link:hover,
.header-link:focus {
  color: #4985ff;
}

/*hero*/
.hero {
  background-color: burlywood;
  text-align: center;
  padding-top: 320px;
  padding-bottom: 335px;
  background-image: linear-gradient(
      0deg,
      rgba(255, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../images/hero-background.jpg);
  max-width: 1920px;
  background-size: cover;
}

.hero-title {
  font-weight: 500;
  font-size: 16px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: calc(20 / 16);
  color: var(--white-color);
  margin-bottom: 20px;
}

.hero-text {
  font-weight: 800;
  font-size: 48px;
  line-height: calc(64 / 48);
  color: var(--white-color);
  margin-bottom: 50px;
}

/* About Us */
.about-us-container {
  text-align: center;
}

.about-us {
  padding: 110px 0px 105px 0px;
}

.about-us-title {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
}

.about-us-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(25 / 16);
  text-align: center;
  max-width: 730px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}
.sub-circle {
  border: 1px solid #4985ff;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
.work-list {
  display: flex;
  margin-bottom: 65px;
  gap: 27px;
}
.work-item-box {
  width: 222px;
  padding-top: 46px;
}
.work-title {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: var(--dark);
}

.work-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(22 / 14);
}

.work-item {
  display: flex;
  flex-basis: calc((100% - 2 * 27px) / 3);
  text-align: start;
  gap: 17px;
}

.work-link:hover .circle,
.work-link:focus .circle {
  border-color: green;
}

.work-link:hover .sub-circle,
.work-link:focus .sub-circle {
  border-color: yellow;
}

.work-link:hover .work-icon,
.work-link:focus .work-icon {
  fill: red;
}

.sub-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages {
  padding: 100px 0;
  background-color: #f6f6f8;
}

.advantages-wrapper {
  display: flex;
  justify-content: space-between;
}

.advantages-box {
  max-width: 478px;
  text-align: left;
}

.advantages-title {
  margin-bottom: 60px;
  text-align: left;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.advantages-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #4985ff;
}

.advantages-list {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.advantages-list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.advantages-number {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
}

.work-list{
  display: flex;
  justify-content: space-between;
}



.work-list-item-text{
font-size: 16px;
line-height: calc(25 / 16);
color: #999999;
margin-bottom: 47px;
font-weight: 400;
max-width: 350px;
}

.work-list-item-title{
font-weight: 600;
font-size: 18px;
line-height: calc(22 / 18);
color: #000000;
margin-bottom: 30px;
}


.work-list-item-img{
  margin-bottom: 30px;
  width: 100%;
}

.work-list-item-cont{
  position: relative;
  padding-top: 15px;
  padding-left: 15px;
  overflow: hidden;
}

.work-list-text-hidden{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: calc(20 / 16);
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms linear;
}

.work-list-item-link:hover .work-list-text-hidden,
.work-list-item-link:focus .work-list-text-hidden{
  transform: translateY(0%);
}


.footer-nav {
  display: flex;
  gap: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

.footer-nav-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
.modal {
  max-width: 100%;
  width: 500px;
  min-height: 600px;
  background-color: #ffffff;
  position: absolute;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.form-modal {
  width: 100%;
  
}
.input-fullwidth {
  outline: none;  
  font-size: 16px;
  line-height: 30px; 
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  transition: border 250ms linear;
}
.input-fullwidth:focus {
  border: 1px solid var(--dark);
}
.textarea {
  width: 100%;
  resize: none;
}

.input-fullwidth::placeholder {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--title-color);

}
.input-radio {
  text-align: center;
}
.wrapper-radio-gender {
  display: flex;
  justify-content: space-around;
}


.checkbox-custom{
  border: 2px solid var(--btn-background-color);
  border-radius: 4px ;
  width: 18px;
  height: 18px;
  display: inline-flex;
}

.checkbox-input:checked + .checkbox-custom{
  background-color: var(--btn-background-color);
}

.checkbox-input:checked + .checkbox-custom > .icon-checkbox{
  opacity: 1;
}

.checkbox-custom{
  position: relative;
  bottom: 1px;
}

.icon-checkbox{
 align-items: center;
 justify-content: center;
}

.icon-checkbox{
  opacity: 0;
}

.checkbox-text{
  font-weight: 400;
  font-size: 13px;
  line-height: calc(16 / 13);
  vertical-align: middle;
}

.checkbox-text>a{
  text-decoration: underline;
  color: var(--btn-background-color);
}